.DS_Store
node_modules/
uni_modules/
unpackage/
components/uni*
dist/
.hbuilderx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.zip
*.rar
